In [7]:
import sqlite3 as sq
import os
import pandas as pd

In [8]:
#Home
#filepath = r'S:\Code\School\WGU_DataAnalyst_NanoDegree\02 - Data Wrangling with MongoDB'

#Work
filepath = r'C:\Users\p15144f\Desktop\WGU_DataAnalyst_NanoDegree\02 - Data Wrangling with MongoDB'

In [9]:
def return_sql_query_as_dataframe(sql_query):
    connection = sq.connect(os.path.join(filepath, 'MapData.db'))

    cursor = connection.cursor()

    query = sql_query
    cursor.execute(query)

    result = cursor.fetchall()
    names = [description[0] for description in cursor.description]
    
    return(pd.DataFrame(result, columns=names))

In [11]:
return_sql_query_as_dataframe('select * from nodes limit 500').head()

,id,lat,lon,user,uid,version,changeset,timestamp
0,54315452,35.311169,-116.247819,Chris Bell in California,194231,4,5929701,2010-10-01T17:14:39Z
1,54315453,35.331677,-116.226027,Chris Bell in California,194231,3,5929701,2010-10-01T17:14:53Z
2,54315455,35.359924,-116.178285,Chris Bell in California,194231,3,5929701,2010-10-01T17:14:35Z
3,54315457,35.362457,-116.173913,Chris Bell in California,194231,3,5929701,2010-10-01T17:13:35Z
4,54315458,35.364977,-116.169689,Chris Bell in California,194231,3,5929701,2010-10-01T17:14:52Z